.card-cart{
    height: 400px;
    width: 400px;
    border: 2px solid bisque;
    border-radius: 15px;
    color: #f17d7d;
    padding:  5px 20px;

    .cart-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        .cartElement{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cart-pizza-name{
                font-size: 1.7rem;
                font-weight: 800;  
            }
            .cart-pizza-price{
                font-size: 1.2rem;
                font-weight: 600;
            } 
        }
        .end-cart{
            .hr{
                border:2px solid  #f17d7d;
                width: 100%;
            }
            .tot{
                display: flex;
                justify-content: space-between;
                font-size: 1.7rem;
                font-weight: 800;  
            }
        }
        
    }
}