.card-container{
    display: flex;
    justify-content: end;
    background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148698592.jpg');
    background-size: cover;
    padding: 1rem;
    .menu-container{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}