header{
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
    padding: 20px;
    width: 100%;
    .logo{
        display: flex;
        justify-content: center;
        img{
            width: 15vw;
        }
    }
    .header-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .navbar{
            display: flex;
            column-gap: 2rem;
            padding-top: 1rem;
            .link{
                color: black;
                padding: 2px 8px;
                border-bottom: 2px solid black;
                font-size: 1.2rem;
            }
        }
        h1{
            font-size: 4rem;
        }
    }
    
}